@font-face{
  font-family: Titillium Text;
  font-weight: normal;
  src:url("/TitilliumText1.otf") format('opentype');
}

@font-face{
  font-family: Titillium Text;
  font-weight: 250;
  src:url("/TitilliumText250wt.otf") format('opentype');
}

@font-face{
  font-family: Titillium Text;
  font-weight: 400;
  src:url("/TitilliumText400wt.otf") format('opentype');
}

@font-face{
  font-family: Titillium Text;
  font-weight: 600;
  src:url("/TitilliumText600wt.otf") format('opentype');
}

@font-face{
  font-family: Titillium Text;
  font-weight: 800;
  src:url("/TitilliumText800wt.otf") format('opentype');
}

@font-face{
  font-family: Titillium Text;
  font-weight: 999;
  src:url("/TitilliumText999wt.ttf") format('opentype');
}

